@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

$darkBrown: #695353;
$darkGold: #947c42;

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes shadowPulse {
  33% {
    background: #d3ccb8;
    box-shadow: -24px 0 #736a5a, 24px 0 #d3ccb8;
  }
  66% {
      background: #736a5a;
      box-shadow: -24px 0 #d3ccb8, 24px 0 #d3ccb8;
  }
  100% {
      background: #d3ccb8;
      box-shadow: -24px 0 #d3ccb8, 24px 0 #736a5a;
  }
}

@mixin linkTree {
    text-align:left;
    color:#aa9c8c;
    font-size:18px;
    font-weight:400;
    margin: 0 0 1.5em 0;
    a {
      text-decoration:none;
      color:#aa9c8c;
    }
}

@mixin heading {
    font-size:34px;
    color:$darkBrown;
    font-weight:700;
    text-align:left;
    margin:0;
    margin-bottom:0.5em;
}

html, body {
  margin:0;
  padding:0;
  font-family:'Jost';
}

body {
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  position:relative;
  display:flex;
  #title {
    position:fixed;
    margin-top:3em;
    font-size:40px;
    line-height:100px;
    font-size:20px;
    text-align:center;
    color:#fff;
    width:35%;
    margin:0;
    z-index:9999;
  }
  .bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background: #201a1a;
    opacity: 0.5;
    z-index: 999;
  }
  .sidebar {
    background: #696159;
    height: 100vh;
    width: 35%;
    position: relative;
    z-index:0;
    padding:40px;
    position:fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -2px;
    h1 {
      font-size:20px;
      text-align:center;
      color:#fff;
      &#tagline {
        margin-top:5em;
        font-size:40px;
        line-height:45px;
      }
    }
    h2 {
      font-size:16px;
      line-height:19px;
      color:#fff;
      margin-top:2em;
      a {
        color:#ffdcb2;
      }
    }
    /*.search input {
      font-size:14px;
      border-radius:16px;
      border:1px solid $darkBrown;
      width:70%;
      height:2em;
      padding:10px;
      margin-top:1em;
      background:#f1f1f1;
      &:focus-visible {
        outline:none;
      }
    }*/
  }
  .container-inner {
    position:fixed;
    right:0;
    width:65%;
    padding:40px;
    margin-top:100px;
    padding-bottom: 100px;
    height:100vh;
    overflow:scroll;
    .loader {
      width:100%;
      height:100vh;
      display:flex;
      align-items: center;
      justify-content: center;
      margin-top:-140px;
      opacity:1;
    }
    .loadContent {
      animation:fadeIn 1s forwards;
      padding-bottom:75px;
    }
    .header {
      display:flex;
      a {
        display:block;
        text-decoration:none;
        width: 100%;
        hr {
          border:0.5px solid #a6958b;
        }
        .feature {
          position: relative;
          display: flex;
          flex-flow: row wrap;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 2em;
          background:linear-gradient(127deg, rgb(240 227 196 / 31%) 0%, rgb(166 188 191 / 49%) 100%);
        }
      }
      .content {
        padding:0em 1em 0.5em 1em;
        h2 {
          font-size: 58px;
          color: $darkBrown;
          text-align: center;
          margin: 0;
          font-weight: bold;
        }
        h3 {
          color: #a6958b;
          text-align: center;
          margin: 0;
          font-size:26px;
          &.title {
            font-size:34px;
            line-height:44px;
            max-width: 500px;
            margin: auto;
          }
        
       }
       hr {
        width:200px;
        margin:1.5rem auto;
       }
      }
      .button {
        width:100%;
        text-align:center;
        font-size:17px;
        color:#82807f;
        margin-top:1em;
      }
    }
    .authors {
      padding-top:1em;
      ul {
        list-style-type:none;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        padding:0;
        margin-bottom:0;
        li {
          text-decoration:none;
          width:30%;
          background: linear-gradient(177deg, rgba(240, 227, 196, 0.31) 0%, rgb(237 237 237 / 49%) 100%);
          line-height:5em;
          margin:10px 0;
          color:$darkBrown;
          position:relative;
          font-size:18px;
          a {
            text-decoration:none;
            color:$darkBrown;
          }
          .author {
            width: 165px;
            padding-left:30px;
            line-height: 22px;
            height: 4em;
            display: flex;
            vertical-align: middle;
            align-items: center;
            text-align:left;
          }
          #carat {
            line-height:4em;
            display:block;
            position:absolute;
            right:30px;
            top:0;
          }
        }
      }
      h1 {
        font-size:34px;
        text-align:left;
        color:$darkBrown;
        font-weight:700;
        margin-bottom:0;
        margin-top:0.5em;
      }
    }
    .poems {
      article {
        h3 {
          @include linkTree();
        }
        .loadContent {
          margin:1.5em 1.5em 0 1.5em;
        }
        .poet {
          @include heading();
        }
        ul {
          list-style-type:none;
          padding:0;
          margin:0;
          li {
            text-align:left;
            font-size:24px;
            padding:10px 0;
            color:$darkGold;
            display:flex;
            align-items:center;
            a {
              color:$darkGold;
              text-decoration:none;
            }
            .carat {
              font-size:18px;
              line-height:50px;
            }
          }
        }
      }
    }
    .poem {
      article {
        margin:0 1.5em;
        h3 {
          @include linkTree();
        }
        .name {
          @include heading();
        }
        .author {
          font-size:26px;
          color:$darkGold;
          text-align:left;
          margin:0;
          padding-bottom:1em;
          a {
            text-decoration:none;
            color:$darkGold;
          }
        }
        .lines {
          text-align:left;
          font-size:20px;
          color:#423b37;
          ul {
            list-style-type:none;
            padding:0;
            margin:0;
          }
        }
      }
    }
  }
}

.loader-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: block;
  margin:0 auto;
  position: relative;
  background: #d3ccb8;
  box-shadow: -24px 0 #d3ccb8, 24px 0 #d3ccb8;
  box-sizing: border-box;
  animation: shadowPulse 0.6s linear infinite;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2 {
  font-weight:400;
}

@media only screen and (max-width: 1024px){
    .nav {
      width:5em;
    }
    .container {
        flex-wrap:wrap;
        #title {
          width:100vw;
        }
        .sidebar {
          height:auto !important;
          position: relative;
          width: 100vw;
          display: flex;
          flex-flow: row wrap;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content:center;
          z-index:0;
          padding:40px;
          h1 {
            &#tagline {
              margin-top: 4em;
              font-size: 34px;
              line-height: 38px;
            }
          }
        }
        .container-inner {
          position:relative;
          width:100%;
          margin-top:1em;
          padding:20px;
          .authors {
            ul li {
              width:47%;
              font-size:24px;
              line-height:34px;
              height:4em;
              .author {
                width:230px;
                line-height:30px;
                height:4em;
              }
              #carat {
                line-height:4em;
              }
            }
            h1 {
              margin-top:1em;
              font-size:30px;
            }
          }
        }
    }
    
}

@media only screen and (max-width: 768px){
  .nav {
    width:100%;
    padding:0;
  }
  .container {
    .sidebar {
      .sidebar-container {
        h1 {
          &#tagline {
            font-size: 34px;
            line-height: 38px;
            margin-bottom:0;
            max-width:500px;
          }
        }
        h2 {
          margin-top:1.5em;
        }
      }
    }
    .container-inner {
      overflow:initial;
      overflow-y:visible;
      .header {
        .content {
          h2 {
            font-size:52px;
            line-height:64px;
          }
          h3 {
            font-size:22px;
            &.title {
              font-size:30px;
              margin-bottom:5px;
            }
          }
        }
        .button {
            font-size:18px;
        }
      }
      .authors {
        ul li {
          width:100%;
          font-size:18px;
          line-height:22px;
          .author {
            width:200px;
            line-height:22px;
          }
        }
        h1 {
          margin-top:1em;
          font-size:30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .container {
    .container-inner {
      overflow:initial;
      overflow-y:visible;
      .authors ul li {
        width:47%;
        font-size:26px;
      }
      .header {
        .content {
          h2 {
            font-size: 60px;
            line-height: 64px;
          }
          h3 {
            font-size:26px;
            &.title {
              font-size:38px;
              line-height:42px;
            }
          }
        }
        .button {
          font-size:22px;
        }
      }
    }
    .sidebar {
      .sidebar-container h1#tagline {
          font-size: 44px;
          line-height: 48px;
          margin-bottom: 0;
          width:600px;
      }
      h2 {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width:1200px) {
  .container .container-inner {
    .authors {
      ul li {
        width:47%;
      }
    }
  }  
}


